@charset "utf-8";


/* CSS Document */


@font-face {

  font-family: 'SinkinSans-300Light';
  src: url('../fonts/SinkinSans-300Light.eot?#iefix') format('embedded-opentype'),  

    url('../fonts/SinkinSans-300Light.otf')  format('opentype'),

	   url('../fonts/SinkinSans-300Light.woff') format('woff'), 

	   url('../fonts/SinkinSans-300Light.ttf')  format('truetype'), 

	   url('../fonts/SinkinSans-300Light.svg#SinkinSans-300Light') format('svg');

  font-weight: normal;

  font-style: normal;
}


@font-face {



  font-family: 'SinkinSans-600SemiBold';

  src: url('../fonts/SinkinSans-600SemiBold.eot?#iefix') format('embedded-opentype'),  

  url('../fonts/SinkinSans-600SemiBold.otf')  format('opentype'),

  url('../fonts/SinkinSans-600SemiBold.woff') format('woff'),

   url('../fonts/SinkinSans-600SemiBold.ttf')  format('truetype'), 

   url('../fonts/SinkinSans-600SemiBold.svg#SinkinSans-600SemiBold') format('svg');

  font-weight: normal;

  font-style: normal;
}




@font-face {

  font-family: 'SinkinSans-500Medium';

  src: url('../fonts/SinkinSans-500Medium.eot?#iefix') format('embedded-opentype'),  

       url('../fonts/SinkinSans-500Medium.otf')  format('opentype'),

	   url('../fonts/SinkinSans-500Medium.woff') format('woff'), 

	   url('../fonts/SinkinSans-500Medium.ttf')  format('truetype'), 

	   url('../fonts/SinkinSans-500Medium.svg#SinkinSans-500Medium') format('svg');

  font-weight: normal;

  font-style: normal;
}


@font-face {



  font-family: 'SinkinSans-400Regular';

  src: url('../fonts/SinkinSans-400Regular.eot?#iefix') format('embedded-opentype'),

    url('../fonts/SinkinSans-400Regular.otf')  format('opentype'),

	     url('../fonts/SinkinSans-400Regular.woff') format('woff'), 

		 url('../fonts/SinkinSans-400Regular.ttf')  format('truetype'),

		  url('../fonts/SinkinSans-400Regular.svg#SinkinSans-400Regular') format('svg');

  font-weight: normal;

  font-style: normal;

}
/*=======================
login_page start
====================*/

*{ margin:0; padding:0;}



body{ background:#fff; overflow-x: hidden;}

body.main-indexs {
    background: #e1e7ed;
}

p{ padding:0; margin:0;}


.login_bx {

    max-width: 362px;

    margin: auto;
    border: 1px solid #e1e7ed;
    margin-top: 140px;
    background: #ffffff;
	padding-bottom:30px;
	box-shadow: 0px 1px 3px #c3c0c0;
}

.fist_login{    width: 85%;

    margin: 30px auto;
}

.form_login{    width: 85%;

    margin: 21px auto;
}

.mainsheader {
    background: #e1e7ed;
}

.line_cl {

    border: 1px solid #e6dbdb;
}

.form_hover {

    width: 100%;
    height: 47px;
	padding-left: 48px;
}



.form_hover{ 
    width: 100%;

    height: 47px;
	padding-left: 48px;

}



.btn_red {
    width: 100%;
    height: 47px;
    border-radius: 39px;
    margin: auto;
    background: #ef4923;
    font-family: 'SinkinSans-500Medium';
    font-size: 12px;
    outline: 0;
}

.btn_red:focus, .btn_red:active{ outline:0 !important;}

.col-md-12.forget_psw p {

    text-align: center;
    color: #ccc;
}

.mgtp{ margin-bottom:21px !important;}

.form_hover{ color:#ccc !important;}

.form_hover:hover{ border:1px solid #209bd1 !important; color:#000;}

.usersa{ position:absolute; margin: 15px 20px; color:#ccc; font-size: 20px;}

.input_filds:hover .usersa{ color:#209bd1;}

/*=======================
login_page end
====================*/

/*=====================
manage-cupon start
============================*/

.sc_logos_in {

    margin-top: 20px;
    margin-bottom: 20px;
}

.menu_header{
	 width:100%; 
	 background:#ef4923;
}



.header_tx p {

 color: #fff;
 padding: 19px 0 14px 0px;
 font-family: 'SinkinSans-300Light';
 font-size: 24px;

}


.menu_sedction {
	height:auto;
   width: 100%;

}

.menu_sedction ul li a {
  padding-left: 0;
  padding-right: 0;

 color:#fff;
 font-family: 'SinkinSans-300Light';

font-size:13px;
line-height: 0px; 
text-decoration:none;

}

button#menu1 {
   font-size: 13px;
font-family: 'SinkinSans-300Light';

}
.menu_sedction ul li {

    display: inline-block;

    margin: 0;

    padding: 14px 0px 0px 29px;

	text-align:center;

}

.menu_sedction ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

.mens {

    font-size: 17px;
}

.pans {

    font-size: 17px;
}

.callss {
    font-size: 17px;
}

.company_name {

	float:left;

}
.main_comp .dropdown {
  float: left;

    margin: 18px 0px 0px 0px;

}

.main_comp .dropdown .btn-primary {

    background: none;

    border: none;

}



.main_comp .dropdown .btn-primary:focus{

    background: none;

    border: none;

}

.company_name_bx table tr th {
    background: #289fd2;
    color: white;
   text-align: center;
    padding: 14px;

    border: none;

    text-transform: uppercase;

	font-family: 'SinkinSans-500Medium';

	font-size:13px;
}

.company_name_bx table tr th:first-child {

    text-align: left;
}

.strt{ margin:0;}

.center_top {
    margin-top: 85px;
}

.company_name_bx table.table.table-bordered tr td {

    width: 10%;
}

.company_name_bx table.table.table-bordered tr td:first-child {

    text-align: left;
}

.company_name_bx table.table.table-bordered tr td {

    width: 10%;
	 color:#7f7f7f;
    text-align: center;
    vertical-align: inherit;
    padding: 20px;
	  font-family: 'SinkinSans-400Regular';
	  font-size:14px;
	text-decoration:none !important;
}



.copun_btn2 {

    width: 238px;

    height: 47px;
    border-radius: 39px;
    margin: auto;
	border:none;

    background: #ef4923;
	 font-family: 'SinkinSans-600SemiBold';
	 font-size:15px;
}



.back_color {

    width: 100%;
    background: #fff;
	padding-bottom:100px;
}



.company_name_bx table.table.table-bordered tr td a:first-child:hover {

	color:#289fd2 !important;
}



.company_name_bx table.table.table-bordered tr td a {
    color:#7f7f7f;
	text-decoration:none;
	font-size:14px;
	  font-family: 'SinkinSans-500Medium';

}

.main_comp {

   float:right;
}

.my_acc {

    background: #fff;
    padding-bottom: 78px;
}

.col-md-12.sc_logo {
    padding: 0;
}

.row.strt .col-md-5 {
    padding: 0;
}

/*=====================
manage-cupon end
============================*/
/*===================
get_coupon page start
====================*/

.centers_get_coupon {

    width: 100%;
    background: #fff;
    padding-bottom: 100px;
}

.containwers_topp {
    width: 372px;
    margin: 100px auto 0;
}

.dollors_tx h2 {

    font-size: 36px;
    text-align: center;
	font-family: 'SinkinSans-300Light';
}

.dollors_tx p {
    text-align: center;
}

.dollors_tx {

    margin-top: 100px;
}

p.expired {

    font-size: 18px;

	 font-family: 'SinkinSans-400Regular';
}



p.provid {



    font-size: 16px;



	 font-family: 'SinkinSans-400Regular';



}p.your_email {

    font-size: 14px;

    color: #ccc;
}

.submit_login-bx_in{width: 50%;

    margin: 38px auto;

}



.abc{ text-align:center;}



.centers_get_coupon{ text-align:center;min-height: 600px;}



button.btn.btn-default.submitss {
    background: #ef4923;
    color: white;
    width: 187px;
    height: 47px;
	font-size:15px;
    border-radius: 39px;
	font-family: 'SinkinSans-600SemiBold';
}

.gapss{ margin-top:30px;}

/*===================

get_coupon page end

====================*/
/*=======================
my_account_pages start
====================*/



.my_account_main {
    margin-top: 85px;
}

.name_coupon_1 p {

    text-align: left;
}

.name_coupon_1 p {

    font-size: 13px;
    margin: 0;
    padding-bottom: 2px;
	color:#989393;
	  font-family: 'SinkinSans-600SemiBold';
}

.name_coupon_1 p:first-child {
    font-size: 19px;
    color: #008dca;
	  font-family: 'SinkinSans-600SemiBold';

}

.name_coupon_2 ul.dropdown-menu {
 margin: 0 0 0 50px;

}

.name_coupon_2 button.btn.btn-primary.dropdown-toggle {

    background: none;
    color: #ccc;
    border: 1px solid #ccc;
    width: 237px;
    height: 46px;
    border-radius: 50px;
	font-family: 'SinkinSans-300Light' !important;
}

.one_btn{width: 240px;

    height: 44px;
    background: #ef4923;
    border-radius: 50px;
	border: 0;
	cursor: pointer;
}

.one_btn p {

    padding: 12px 0;
    color: #fff;
	font-family: 'SinkinSans-600SemiBold';
	text-transform: uppercase;
}

.one_btn p span {
  padding: 0 10px 6px 0px;
}

.button_section {
 margin-top: 46px;
}

.one_btn a{ text-decoration:none;}

.hovers:hover{ background:#3765a3;}

.col-md-3.bt1 a {

    text-decoration: none;
}

.boosterap_table {
    margin-top: 30px;
}


.boosterap_table table tr th {

    background: #289fd2;

    color: white;

    text-align: center;

    padding: 14px;

	font-size:13px;

    border: none;

    text-transform: uppercase;

	 font-family: 'SinkinSans-500Medium';

}

.boosterap_table table tr th:first-child {

    text-align: left;

}


.boosterap_table table.table.table-bordered tr td {

    width: 10%;
}

.boosterap_table table.table.table-bordered tr td:first-child {

    text-align: left;
}


.boosterap_table table.table.table-bordered tr td {

    width: 10%;
    height: 80px;
    vertical-align: inherit;
    padding: 20px 0;
    text-decoration: none !important;

    font-family: 'SinkinSans-400Regular';

    font-size: 14px;
    color: #7f7f7f;

    text-align: center !important;
}

.boosterap_table table.table.table-bordered tr td a {

     color:#7f7f7f;

	text-decoration:none;

	font-family: 'SinkinSans-500Medium' !important;

	font-size:14px;

}



.boosterap_table table.table.table-bordered tr td a:first-child:hover {
color: #289fd2 !important;

}

.Redemmed {
    margin-top: -45px;
    margin-bottom: 15px;
}

.Redemmed p {
    text-align: left;
    font-size: 19px;
    color: #289fd2;
    margin: 0;
    padding: 0;
	  font-family: 'SinkinSans-600SemiBold';

}



.right_icon{padding: 7px 10px;}

.active_copn p {

    text-align: right;
    color: #3ea2d6;
	 font-family: 'SinkinSans-300Light';
	font-size:13px;

}



.active_copn {

    margin-top: 85px;
}


.active_setting_bx {

    width: 100%;
    background: #289fd2;
    margin-top: 20px;
}


.active_setting_bx p {
    padding: 12px 0 15px 31px;

    color: #fff;
    font-size: 15px;

	 font-family: 'SinkinSans-500Medium';

}


.pd{ padding:0;}


.right_menu_list ul li {

    display: list-item;

}

.right_menu_list ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

}


.right_menu_list {

    background: #444444;
    max-width: 255px;
}



.right_menu_list ul li.my_list {

}

.right_menu_list ul li {

    display: list-item;
    padding: 24px 0px 13px 29px;
    border-bottom: 1px solid rgba(0,0,0,.075);

}

.right_menu_list ul li a{
	color:#fff;

}

.right_menu_list ul li a span {
    margin: 0 10px 0px 0;
}

.right_menu_section{  margin-top:30px;}

.register_form .form-horizontal .control-label {
    padding-top: 0px;
    margin-bottom: 0;
    text-align: right;
}

.all_form{ width:95%; margin:auto;}



.all_form p {
    text-align: right;

}

button.btn.btn-default.submitss2 {
    background: #ef4923;
    color: white;
    width: 187px;
    height: 47px;
    font-size: 15px;
    border-radius: 39px;
	margin-left: -18px;

}

button.btn.btn-default.brose {
    width: 98%;
    color: #919191;
	border-radius: 0;
}

.col-md-2.bose {
    padding: 0;
}

.form-group.niche {
    margin-top: 21px;
}


.business_climer ul li {
    display: inline-block;
    padding: 5px 21px 1px 0px;

}


.business_climer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 64%;
    margin: auto;
    padding-left: 54px;
}

.business_climer ul li a {
    font-size: 14px;
    color: #919191;
    text-decoration: none;
}

.business_climer ul li a span {
    margin: 0 14px 0px 0px;

}


my_acc {

    margin-bottom: 213px;
}

.all_form p {
    font-size: 14px;
	text-align:left;

	color: #919191;

	font-family: 'SinkinSans-400Regular';
}

.active_setting_bx p {
    text-transform: uppercase;

}

.right_menu_list ul li.bill {
    margin: 0;

}

.right_menu_list ul li a{ text-decoration:none; font-size:13px;  font-family: 'SinkinSans-300Light';}

i.fa.fa-user.sz {

    font-size: 18px;
}

.my_acc {
    padding-bottom: 100px;

}

.stc_brd {

    border: 1px solid #ccc;
    padding-bottom: 36px;

}

.facebook-btn {

    background: #3765a3;
}

.padding-left0{ padding-left:0;}
.padding12 {
    padding-left: 15px;

}

.paddingr12{ padding-right:0;}

.all_form .form-control { border-radius:0;}

.width12{width: 23.6%;}
.drp_dwn {
    background: none;
    color: #ccc;
    border: 1px solid #ccc;
    width: 237px;
    height: 46px;

    border-radius: 50px;
    font-family: 'SinkinSans-300Light' !important;

}



.drp_dwn .form-control {

    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    margin: 5px auto;
	box-shadow:none;

}

.drp_dwn.list_option {

    margin: auto;
}

.company_name {

float: left;
}



.company_name img {

width: 51px;
height: 51px;
border: 1px solid red;
border-radius: 50%;
margin: 11px 0px 12px 0;
background: white;
float: left;
padding: 0;
}


input#uphoto {
width: 100%;
background:none;
border-radius:0;
border-radius: 4px;
}

.card-slash {

  width: 20px;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

/*------------9.09.2016-------------*/

div#alert, div#alert1, div#alert2 {
    text-align: center;
}

div#alert p, div#alert1 p, div#alert2 p {

    font-size: 11px;

    margin-top: 5px;
    text-align: center;
    display: inline-block;
    color: #000;
    font-weight: 700;
}

div#active2 {
    margin-top: 0;

}

/*.billings {

    border: 1px solid #ddd;
}*/

.billings label {
    text-align: left !important;
    padding-left: 51px;
}

.billings .btn {
    margin-left: 70px;
    height: 53px;
    width: 195px !important;
    background: #ef4923 !important;
    border-radius: 39px;
    text-transform: uppercase;
}

.col-md-3.bt1 {

    padding: 0;

}

.col-md-3.bt1 .btn {

    float: left;

	font-family: 'SinkinSans-600SemiBold';

    font-size: 15px;

	color:#fff;

}

input#selectall {

    margin-right: 5px;

    vertical-align: baseline;

}



/*------------12.09.2016-----------------*/

.list_heading {

    background: #289fd2;
    width: 100%;
    padding: 12px 30px;
    color: #fff;
    font-size: 15px;
    font-family: 'SinkinSans-500Medium';
    text-transform: uppercase;
}

.mylist_table {
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

ul.addlist_page{ margin:0;}
ul.addlist_page li {

    list-style: none;
    padding: 13px 35px;
    border-top: 1px solid #ddd;
} 

ul.addlist_page li a {
    font-size: 14px;
    text-align: left;
    color: #919191;
    font-family: 'SinkinSans-400Regular';
    text-transform: capitalize;
	text-decoration: none;
}



ul.addlist_page li:first-child {
    border: none;
}



ul.addlist_page li a:hover {

    //color: #ef4923;
    color: #337ab7;   
}

p.breadcrumb a {

    font-family: 'SinkinSans-300Light';
    text-decoration: none;
}

button.btn.btn-default.submitss2:focus, button.btn.btn-default.submitss2:active {

    outline: 0;
}
/*--------------14.09.2016.-------------------*/
.modal-body {

  padding: 35px 20px 20px;
}

.modal-header {
  background: #289fd2;
}

.modal-header h4 {

 color: #fff;
}



.modal-body .btn {
    background: #ef4923;
    color: white;
    width: auto;
    height: auto;
    font-size: 15px;
    border-radius: 39px;
    text-transform: uppercase;
    padding: 8px 30px;
}

.modal-body .btn:focus {

    outline: 0;
}

.btn:focus {

    outline: 0 !important;
	
}

 

.name_coupon_1 .btn {
    background: #ef4923;
   /* padding: 11px 0; */
  border:none !important;
  height:47px;
    border-radius: 39px;
 
}

span.add-on {
float: right;
width: 24px;
height: 34px;
background: #289fd2;
padding: 7px 2px;
border-radius: 0 4px 4px 0;
margin: -34px 1px 0 0;
}

span.add-on i {
 color: #fff;
}

div#datetimepicker3 input, div#datetimepicker4 input {
    width: 268px;
    padding: 6px 11px;
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #ccc;
    float: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: 0;
    box-shadow: none;
}



.error {

    float: left;
}


.register_form {

    margin-top: 35px;
}

.register_form label.control-label.col-sm-3 {

    color: #9E9E9E;
}


.submitss{

	background: #ef4923;
    color: white;
    width: 187px;
    height: 47px;
    font-size: 15px;
    border-radius: 39px;
    font-family: 'SinkinSans-600SemiBold';
}



div#listdel {



    float: right;



    background: #289fd2;



    padding: 3px 8px;



    border-radius: 4px;



    color: #fff;



	cursor: pointer;



	margin: -3px 0 0;



}



.myaccountsubmit {



    margin-left: 53px !important;



}







/*---------14view coupon------------*/



.coupon_viewbody {



    text-align: center;



    background: url(http://coupon.demostage.net/wp-content/themes/couponbutter/images/coupon-edited.jpg);



    background-size: 100% 100%;



    max-width: 573px;



    margin: 100px auto 0;



    padding: 4px 60px 43px 104px;



}



.coupon_viewbody h3 {



    font-size: 20px;



    color: #000;



    font-weight: bold;



}



.coupon_viewbody h2 {



    color: #000;



    font-weight: bold;



    margin: 27px 0;



    font-size: 65px;



}



.coupon_viewbody .expired {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin: 22px 0;
}

.coupon_viewbody .catch_img {
    width: 96px;
    display: inline-block;
}

.coupon_viewbody .dollors_tx{ margin-top:0;}
.coupon_viewhead{ text-align:left;}
.coupon_viewhead a {
    color: #fff;
    text-align: left;
    padding: 11px 0;
    display: inline-block;
}

.all_form input {

    border-radius: 4px !important;

}

div#listdel i {

    color: #fff;

}

div#list-head {

    text-align: left;

    font-size: 19px;

    color: #289fd2;

    margin: 0 0 10px;

    padding: 0;

    font-family: 'SinkinSans-600SemiBold';

}

.bt1 .fb_iframe_widget iframe{

    height: auto !important;

    width: 100% !important;

	    position: relative;

	}

.bt1 .fb_iframe_widget iframe .inlineBlock{ display:block !important;}

.plugin{

    font-size: 17px !important;

    z-index: 9999;

    overflow: inherit;

    color: rgba(255, 255, 255, 0.8);

    text-transform: uppercase;

    font-weight: bold;

}

.fb_iframe_widget span{    
 width: 88px !important;
    height: auto !important;
    margin: 8px 0 0;
}



div#loadingmessage img {

    width: 50px;

	margin-top: 50px;

}

/*-------20.09.16-------------*/

.manage_cupon i.fa.fa-trash-o {
    color: #fff;
}
.manage_cupon i.fa.fa-pencil-square-o {
	 color: #fff;
}
.manage_cupon i.fa.fa-eye{
 color: #fff;
}
.name_coupon_1 {
   /* margin-top: 30px;*/
}
div#update-coupon {
    /*margin-top: 70px;*/
}
.name_coupon_2 div#datetimepicker3 input, div#datetimepicker4 input {
    width:91%;
    padding: 6px 11px;
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #ccc;
    float: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: 0;
    box-shadow: none;
}
.name_coupon_2 span.add-on {
    float: right;
    width: 24px;
    height: 34px;
    background: #289fd2;
    padding: 7px 2px;
    border-radius: 0 4px 4px 0;
    margin: 0;
}

a.table_download_csv_link {
    float: right;
    font-family: 'SinkinSans-300Light';
    font-size: 13px;
    font-weight: normal;
}

a.table_download_xls_link {
    /* text-align: center; */
    float: right;
    margin-right: 30px;
    font-family: 'SinkinSans-300Light';
    font-size: 13px;
    font-weight: normal;
}
div#Managedel {
    float: left;
    background: #289fd2;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 3px 0 0 61px;
}


div#Manageupd {
   float: left;
    background: #289fd2;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 3px 0 0 61px;
}


div#Manageview {
   float: left;
    background: #289fd2;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 3px 0 0 61px;
}
.coupon-feadd {
    text-align: left;
    width: 85%;
	color:#289fd2;
    /* margin: auto; */
    /* margin: 0 0 0 59px; */
    padding-left: 108px;
    margin-bottom: 27px;
    font-size: 19px; 
    font-family: 'SinkinSans-600SemiBold';
}
.coupon-feaddd {
    text-align: left;
    width: 82%;
	color:#289fd2;
    /* margin: auto; */
    /* margin: 0 0 0 59px; */
    padding-left: 0px;
	
    margin-bottom:9px;
    font-size: 19px;
    font-family: 'SinkinSans-600SemiBold';
}
.name_coupon_2 input#insert {
    background: #ef4923;
   /* padding: 11px 0;*/
    border-radius: 39px;
	height:47px;
	border:none;
}

span.sh-coupon {
    /* padding-left: 6px; */
    padding: 0px 6px 9px 9px;
}
p.cou-nam {
    color: #289fd2;
    font-size: 16px;
}
p.sprt {
    text-align: center;
    font-family: 'SinkinSans-300bold';
    font-size: 40px;
    /* font-weight: normal; */
    color: #289fd2;
    padding-top: 14%;
}
.right-sign img {
    float: right;
}
.nreedemed {
    width: 70%;
    margin: 14% auto;
}
.col-md-2.tickss {
    padding: 0;
}
.nreedemed p {
    font-size: 20px;
    color: #2196F3;
}
/*-------20.09.16-------------*/
/*-------5.10.16-------------*/
/*.sc_logos_in{text-align: center;}
div.sc_logos_in img {
display: inline-block;
}*/
div.redem-table {
margin: 49px 0;
text-align: center;
}
.redem-table .control-label {
color: #289fd2;
font-size: 13px;
font-family: 'SinkinSans-600SemiBold';
text-transform: uppercase;
position: relative;
margin: 9px 0;
}
.redem-table input{
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.redem-table button {
background: #ef4923;
border-radius: 39px;
height: 40px;
border: none;
padding: 0 36px;
color: #fff;
outline: 0;
}
form#payment-form {
max-width: 500px;
margin: 0 auto;
}
#payment-form .fullstripe-form-title {
text-align: left;
width: auto;
color: #289fd2;
padding-left: 24px;
margin-bottom: 39px;
font-size: 20px;
font-family: 'SinkinSans-600SemiBold';
display: inline-block;
margin-top: 17px;
text-transform: uppercase;
}
#payment-form .control-group input {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form#payment-form button {
background: #ef4923;
border: none !important;
height: 47px;
border-radius: 39px;
color: #fff;
width: 133px;
margin: 11px 0 25px;
outline:0;
}
select#fullstripe_plan {
/* width: 100%; */
display: block;
width: 100%;
height: 34px;
padding: 6px 4px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.div10 {
max-width: 167px;
margin: 0 auto;
}
div.div10 a {
font-size: 19px;
margin-bottom: 30px;
display: inline-block;
text-transform: capitalize;
}

@media screen and (min-width:1241px) and (max-width:1320px){

	.navigat {
    padding: 0;
}

.menu_sedction ul li {
    display: inline-block;
    margin: 0;
    padding: 17px 0px 0px 29px;
}

.name_coupon_1 div#datetimepicker3 input, div#datetimepicker4 input {
    width: 91% !important;
    padding: 6px 11px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #CCC;
    float: left;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    outline: 0px none;
    box-shadow: none;
}

.name_coupon_2 div#datetimepicker3 input, div#datetimepicker4 input {
    width:91%;
    padding: 6px 11px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #CCC;
    float: left;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    outline: 0px none;
    box-shadow: none;
}	


}



@media screen and (min-width:1121px) and (max-width:1240px){
	.navigat {
    padding: 0;
}

.menu_sedction ul li {
    display: inline-block;
    margin: 0px;
    padding: 11px 0px 0px 11px;
}



.name_coupon_2 div#datetimepicker3 input, div#datetimepicker4 input {
    width:91%;
    padding: 6px 11px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #CCC;
    float: left;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    outline: 0px none;
    box-shadow: none;
}	

}

@media screen and (min-width:1024px) and (max-width:1199px){
	
#uphoto {
    padding: 0px 0 0 12px;
}


.name_coupon_2 div#datetimepicker3 input, div#datetimepicker4 input {
    width: 88%;
    padding: 6px 11px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #CCC;
    float: left;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    outline: 0px none;
    box-shadow: none;
}	
div#datetimepicker3 input, div#datetimepicker4 input {
    width: 92%;
    padding: 6px 11px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #CCC;
    float: left;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    outline: 0px none;
    box-shadow: none;
}
input.ced{ width:88% !important;}
.billings label {
    text-align: left !important;
    padding-left: 20px;
}
}

@media screen and (min-width:1024px) and (max-width:1120px){

	.navigat {
   padding: 0;

}

.menu_sedction ul li {
   display: inline-block;
 margin: 0;
 padding: 17px 0px 0px 11px;

}



}

@media screen and (min-width:1000px) and (max-width:1023px){

.navigat {
 padding: 0;
}

.menu_sedction ul li {

    display: inline-block;
    margin: 0;
    padding: 17px 0px 0px 11px;
}


.name_coupon_2 div#datetimepicker3 input, div#datetimepicker4 input {
    width: 87%;
    padding: 6px 11px;
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #CCC;
    float: left;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    outline: 0px none;
    box-shadow: none;
}	



}

.ful_bxc {
    width: 100%;
    border: 1px solid #ccc;
    padding: 22px;
}

div#two21 {
    /*margin-top: 20px;*/
}

div#th3 {
    /*margin-top: 20px;*/
}
.stripe-button-el {
    background-image: none !important;
    }
 .stripe-button-el span {
display: block;
position: relative;
background-image: none !important;
margin-left: 0px;
background: #ef4923 !important;
border-radius: 39px !important;
text-transform: uppercase;
padding: 12px 0px 6px !important;
height: 53px !important;
width: 195px;
}
   .stripe-button-el:not(:disabled):active, .stripe-button-el.active {
background: #fff !important;
}
.change-member-tx-tx p {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

.billings label {
    text-align: left !important;
    padding-top: 8px;
    padding-left: 0;
    font-family: 'SinkinSans-500Medium';
    font-size: 12px;
    color: #919191;
}

.change-member-tx-tx p {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: 'SinkinSans-500Medium';
    color: #919191;
}
.pricr-tx p {
    font-family: 'SinkinSans-500Medium';
    color: #919191;
}
.pricrde-btn {
    text-align: center;
}
.pricr-tx {
    width: 100%;
    float: left;
    padding-top: 8px;
}
button#Change-membership {
    width: 230px;
    margin-left: 112px;
}
button.stripe-button-el {
    margin-left: 70px;
}
button#cancel-membership {
    margin-left:109px;
}
button.stripe-button-el {
    margin-left: 110px;
    background: #fff !important;
    box-shadow: none !important;
}
.stripe-button-el span {
    
    font-weight: 400 !important;
    
    
} 
.back-button{
background: #ef4923;
    /* padding: 11px 0; */
    border-radius: 39px;
    height: 47px;
    border: none;
}
a.btn.btn-primary.btn-block.back-button:hover {
    background-color: #EF4923;
}
a.btn.btn-primary.btn-block.back-button {
    padding-top: 13px;
}

/*---------3.11.2016----------*/
.my-current-acct p {
    padding-left: 127px;
}
.div7 .col-sm-6 {
    float: right;
}

.suc-msg {
    max-width: 100%;
    background: #ef4923;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
	text-align:center;
}


@media only screen and (max-width: 640px){
.nreedemed .buttonsub {
    padding: 37px 6px 0px 17px;
}
.right-sign img {
    float: left;
}
}

@media only screen and (max-width: 500px){
.nreedemed{width: 100%;}
.nreedemed .buttonsub {
    padding: 37px 6px 0px 20px !important;
}
.right-sign img {
    float: left;
}	
}

@media only screen and (max-width: 360px){
.redem-table button {
    background: #ef4923;
    border-radius: 39px;
    height: 40px;
    border: none;
    padding: 0 36px;
    color: #fff;
    outline: 0;
    margin-left: 17px;
}
.redem-table .control-label {
    color: #289fd2;
    font-size: 13px;
    font-family: 'SinkinSans-600SemiBold';
    text-transform: uppercase;
    position: relative;
    margin: 9px 0;
    width: 100%;
    padding: 0;
}
div.redem-table {
    margin: 49px 0;
    text-align: left;
}

.nreedemed{width: 100%;}
.nreedemed .buttonsub {
    padding: 37px 6px 0px 20px !important;
}
.right-sign img {
    float: left;
}	
	}